.drag-start{
    opacity: 0.5;
    border:red dashed 2px;
}
.box{
    border:1px solid black; 
    width: 100px; 
    height: 100px
}

.box2{
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
.drag-enter{
    background-color: dimgray;
}